.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

#react-root {
  display: flex;
  height: 100vh;
  width: 100vw;

  justify-content: center;
  background-color: rgba(0, 0, 0, 0.25);
  overflow-y: scroll;
}


.item{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: white;
  border-radius: 5px;
  padding: 20px;
  width: 60vw;
}

.item-list{
  list-style: none;
}

.item-list li{
  margin-top: 5px;
}